body {
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    margin: 0;
    * {
        box-sizing: border-box;
    }
    img {
        max-width: 100%;
        object-fit: contain;
    }
    .header {
        background-color: #75bc97;
        display: flex;
        flex-direction: column;
        padding: 25px;
        .plantperson {
            display: none;
        }
        .mobile-plantperson {
            display: block;
        }
        .intro {
            padding: 10px 10px 50px;
            z-index: 2;
            h1 {
                font-size: 40px;
                line-height: 49px;
                color: #ffffff;
            }
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            height: 450px;
            background-image: url("images/hero/mobile/mobile-leaves.png");
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: bottom;
            z-index: 2;
        }
    }
    .content {
        padding: 20px 35px;
        color: #848484;
        .card {
            margin-bottom: 50px;
            p {
                margin: 5px 0 25px;
                font-size: 14px;
                line-height: 22px;
            }
            select {
                width: 100%;
                color: #a8a8a8;
                border: 1px solid #a8a8a8;
                font-size: 14px;
                line-height: 27px;
                padding: 5px 20px;
                border-radius: 20px;
                font-family: "Montserrat", sans-serif;
                outline: none;
                appearance: none;
                // &::after {
                //     content: ">";
                //     font: 17px "Consolas", monospace;
                //     color: #333;
                //     -webkit-transform: rotate(90deg);
                //     -moz-transform: rotate(90deg);
                //     -ms-transform: rotate(90deg);
                //     transform: rotate(90deg);
                //     right: 11px;
                //     /*Adjust for position however you want*/
                //     top: 18px;
                //     padding: 0 0 2px;
                //     border-bottom: 1px solid #999;
                //     /*left line */
                //     position: absolute;
                //     pointer-events: none;
                // }
            }
        }
    }
    .no-results {
        padding: 45px 35px;
        background-color: #f2f2f2;
        color: #a9a9a9;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 50px;
            line-height: 55px;
            margin: 0 0 15px;
        }
        p {
            font-size: 16px;
            line-height: 27px;
            width: 100%;
        }
    }
    .section-results {
        padding: 20px 35px;
        background-color: #f2f2f2;
        h2 {
            font-size: 40px;
            line-height: 49px;
            margin: 0;
        }
        .cards-container {
            display: flex;
            padding: 32px 16px;
            margin: 0 -35px;
            overflow-x: auto;
            .plant-card {
                background-color: #fff;
                padding: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                min-width: 300px;
                border-radius: 5px;
                margin: 0 8px;
                .card-image {
                    height: 220px;
                    margin-bottom: 15px;
                }
                .card-content {
                    h3 {
                        color: #1e6b4e;
                        font-size: 16px;
                        line-height: 19px;
                        margin: 0;
                    }
                    .card-details {
                        display: flex;
                        justify-content: space-between;
                        color: #1e6b4e;
                        font-weight: bold;
                    }
                    .card-icons img {
                        margin: 0 2px;
                        height: 17px;
                    }
                }
            }
            .staff-favorite {
                position: relative;
                .label {
                    position: absolute;
                    top: 16px;
                    left: 0;
                    background: #75bc97;
                    padding: 8px 20px 8px 10px;
                    font-size: 13px;
                    color: #ffffff;
                    line-height: 16px;
                    border-radius: 0 20px 20px 0;
                }
            }
        }
    }
    .button-top button {
        width: 100%;
        border-radius: 25px;
        border: 1px solid #15573f;
        color: #15573f;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 50px;
        img {
            margin-right: 15px;
        }
    }
    .flip {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}

.hide {
    display: none;
}

@media only screen and (min-width: 769px) {
    .header {
        max-height: 500px;
        flex-direction: row !important;
        margin: 0 250px;
        justify-content: space-between;
        padding: 25px 0 !important;
        align-items: center;
        .mobile-plantperson {
            display: none !important;
        }
        .plantperson {
            @media only screen and (min-width: 1140px) {
                display: block !important;
                max-height: inherit;
                padding: 35px 0;
                margin-right: 100px;
            }
        }
        .intro {
            padding: 10px 10px 50px;
            z-index: 2;
            h1 {
                font-size: 70px !important;
                line-height: 85px !important;
                margin: 40px 0 25px;
            }
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-image: url("images/hero/desktop/left-leaves.png") !important;
            background-size: auto 500px !important;
            background-position: top left !important;
            height: 500px !important;
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-image: url("images/hero/desktop/right-leaves.png");
            background-size: auto 500px;
            background-repeat: no-repeat;
            background-position: top right;
            z-index: 2;
            height: 500px;
        }
    }
    .content {
        margin: 0 250px;
        padding: 40px 0 !important;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        .card {
            width: 29%;
        }
    }
    .no-results {
        padding: 70px 250px !important;
        flex-direction: row !important;
        img {
            margin-left: 25%;
        }
    }
    .section-results {
        padding: 50px 250px !important;
        h2 {
            font-size: 55px !important;
            line-height: 67px !important;
        }
        .cards-container {
            display: grid !important;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 220px);
            grid-gap: 20px;
            margin: 0 !important;
            padding: 16px 0 0 !important;
            overflow-x: initial !important;
            .plant-card {
                min-width: unset !important;
                margin: 0 !important;
                .card-image {
                    height: 120px !important;
                    margin-bottom: 0 !important;
                }
                .card-content {
                    h3 {
                        color: #1e6b4e;
                        font-size: 16px;
                        line-height: 19px;
                        margin: 0;
                    }
                    .card-details {
                        display: flex;
                        justify-content: space-between;
                        color: #1e6b4e;
                        font-weight: bold;
                    }
                    .card-icons img {
                        margin: 0 2px;
                        height: 17px;
                    }
                }
            }
            .staff-favorite {
                grid-column: 1 / span 2;
                grid-row: 1 / span 2;
                padding: 25px;
                .label {
                    font-size: 18px !important;
                    line-height: 22px !important;
                }
                .card-image {
                    height: auto !important;
                }
                .card-content {
                    display: flex;
                    h3 {
                        font-size: 35px !important;
                        line-height: 37px !important;
                    }
                    .card-details {
                        flex-direction: column;
                        align-items: flex-end;
                        width: -webkit-fill-available;
                        font-size: 24px;
                        justify-content: center;
                    }
                    .card-icons img {
                        margin: 0 3px !important;
                        height: 20px !important;
                    }
                }
            }
        }
    }
}